<div style="margin-top: 2rem; margin-bottom: 4rem">
    <app-classification-overview></app-classification-overview>
</div>
<p-tabView>
    <p-tabPanel header="Tableau">
        <app-classification-table></app-classification-table>
    </p-tabPanel>
    <p-tabPanel header="Diagramme">
        <ng-template pTemplate="content">
            <app-custom-diagram></app-custom-diagram>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Statistiques">
        <ng-template pTemplate="content">
            <app-statistics></app-statistics>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Sankey détaillé">
        <ng-template pTemplate="content">
            <app-detailed-sankey></app-detailed-sankey>
        </ng-template>
    </p-tabPanel>
</p-tabView>