<!-- <app-classification></app-classification> -->

<p-table #dt [columns]="cols" dataKey="id" [value]="papersClassifications" selectionMode="multiple">
    <ng-template pTemplate="caption">
        <h3>Papers classification according to their Feature extraction method</h3>
        <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2"
                pTooltip="CSV" tooltipPosition="bottom"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th rowspan="3">
                Paper
            </th>
            <th colspan="3" rowspan="2">Sample/stream definition</th>
            <th colspan="6">Extracted features</th>
            <th rowspan="3">Dimensionality reduction</th>
            <th rowspan="3">DL</th>
        </tr>
        <tr>
            <th colspan="2">Packet level</th>
            <th colspan="4">Flow level</th>
        </tr>
        <tr>
            <th>N packets</th>
            <th>∆t</th>
            <th>Connection</th>

            <th>H</th>
            <th>P</th>

            <th>Volume</th>
            <th>Protocol</th>
            <th>Temporal</th>
            <th>Periodic</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paperClass let-columns="columns">
        <tr>
            <!--  [pSelectableRow]="paperClass"> -->
            <td (click)="showDialog()">
                {{paperClass.id}}
            </td>
            <td class="p-text-center" *ngFor="let col of columns; let i = index">
                <i *ngIf="paperClass.data[i] == 0 || paperClass.data[i] == 1" class="pi"
                    [ngClass]="{'true-icon pi-check-circle': paperClass.data[i] == 1, 'false-icon pi-times-circle': paperClass.data[i] == 0}"></i>
                <p *ngIf="paperClass.data[i] != 0 && paperClass.data[i] != 1"> {{paperClass.data[i]}}</p>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Papier" [(visible)]="displayBib">
    <app-bib-format-selector></app-bib-format-selector>
    <br>
    <app-paper [id]="'bekerman2015unknown'"></app-paper>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBib=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>