<p-selectButton [options]="formats" [(ngModel)]="selectedFormat" (onChange)="onSelectedFormatChange($event)"
    optionLabel="icon">
    <ng-template let-format>
        {{format}}
    </ng-template>
</p-selectButton>