<p-table #dt [columns]="visibleColumns" dataKey="id" [value]="papersClassifications" selectionMode="multiple">
    <ng-template pTemplate="caption">
        <h3>Papers classification of activated categories</h3>
        <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="onDownloadCSVButtonClick()"
                class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom" style="margin-right: 5px;"></button>

            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="onDownloadJSONButtonClick()"
                class="p-button-success p-mr-2" pTooltip="JSON" tooltipPosition="bottom"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr *ngFor="let colsInLevel of columns; let level = index">
            <th *ngFor="let col of colsInLevel" [attr.colspan]="col.childrenAmount === 0 ? 1 : col.childrenAmount"
                [attr.rowspan]="col.childrenAmount === 0 ? getLevelsAmount() - level : 1">
                {{col.label}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paperClass let-columns="columns">
        <tr>
            <td (click)="showDialog(paperClass.id)">
                {{paperClass.uniqueName}}
            </td>
            <td class="p-text-center" *ngFor="let i of classificationService.getVisibleLeafCategoriesDataIndex()">
                <i *ngIf="paperClass.data[i] == 0 || paperClass.data[i] == 1" class="pi"
                    [ngClass]="{'true-icon pi-check-circle': paperClass.data[i] == 1, 'false-icon pi-times-circle': paperClass.data[i] == 0}"></i>
                <p *ngIf="paperClass.data[i] != 0 && paperClass.data[i] != 1"> {{paperClass.data[i]}}</p>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Papier" [(visible)]="displayBib" [style]="{width: '50vw'}">
    <app-bib-format-selector></app-bib-format-selector>
    <br>
    <app-paper [id]="displayPaperOfId"></app-paper>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBib=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>