<div style="margin-top: 2rem; margin-left: 1rem">
    <p class="p-component" style="margin-bottom: 2rem;">
        Ce menu permet d'afficher un ou plusieurs papiers avec leurs
        liens avec les catégories affichées.
        <br>
        Lorsqu'un lien d'un papier est survolé, les liens des autres papiers sont soit masqués, soit affichés avec une
        couleur commune configurable.
        <br>
        Les catégories de la classification occupent un espace proportionnel au nombre total de papiers qui
        leur appartiennent.
    </p>
    <p-multiSelect [options]="papersClassifications" [(ngModel)]="selectedPapersClassifications" display="chip"
        optionLabel="uniqueName" defaultLabel="Selectionnez un papier" (onChange)="onSelectedPapersChange()"
        style="width:50px">
    </p-multiSelect>
    <p class="p-component" style="display: inline; margin-left: 1rem; margin-right: 0.2rem">Afficher les liens non
        survolés:
    </p>
    <p-inputSwitch [(ngModel)]="showNonHighlightedLinks" (onChange)="onButtonShowNonHoveredLinks($event)">
    </p-inputSwitch>
    <div *ngIf="showNonHighlightedLinks" style="display: inline; margin-left: 1rem">
        <p class="p-component" style="display: inline; margin-right: 0.2rem">Couleur des liens non survolés:
        </p>
        <p-colorPicker [(ngModel)]="notHoveredColor"></p-colorPicker>
    </div>
</div>
<div id="sankey-diagram" style="width: 100%; height: 50rem; margin-top: 50px;"></div>