<!-- <app-classification></app-classification> -->

<p-table #dt [columns]="cols" dataKey="id" [value]="papersClassifications" selectionMode="multiple">
    <ng-template pTemplate="caption">
        <h3>Papers classification according to their Input, data acquisition method and classification granularity</h3>
        <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2"
                pTooltip="CSV" tooltipPosition="bottom"></button>

            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()"
                class="p-button-success p-mr-2" pTooltip="JSON" tooltipPosition="bottom"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th rowspan="3">
                Paper
            </th>
            <th colspan="3">Data</th>
            <!-- <th *ngFor="let col of columns">
                {{col.header}}
            </th> -->
            <th colspan="2" rowspan="2">Devices</th>
            <th colspan="3" rowspan="2">Traffic</th>
            <th colspan="2">Collection point</th>
            <th colspan="3" rowspan="2">Classification granularity</th>
        </tr>
        <tr>
            <th colspan="2">Collected</th>
            <th rowspan="2">Use public data</th>

            <th>at</th>
            <th>after</th>
        </tr>
        <tr>
            <th>Private</th>
            <th>Shared publicly</th>

            <th>IoT</th>
            <th>Non IoT</th>

            <th>Setup</th>
            <th>Idle</th>
            <th>Interaction</th>

            <th colspan="2">the gw</th>

            <th>Instance</th>
            <th>Type</th>
            <th>Category</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paperClass let-columns="columns">
        <tr>
            <!--  [pSelectableRow]="paperClass"> -->
            <td (click)="showDialog(paperClass.id)">
                {{paperClass.id}}
            </td>
            <td class="p-text-center" *ngFor="let col of columns; let i = index">
                <i *ngIf="paperClass.data[i] == 0 || paperClass.data[i] == 1" class="pi"
                    [ngClass]="{'true-icon pi-check-circle': paperClass.data[i] == 1, 'false-icon pi-times-circle': paperClass.data[i] == 0}"></i>
                <p *ngIf="paperClass.data[i] != 0 && paperClass.data[i] != 1"> {{paperClass.data[i]}}</p>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Papier" [(visible)]="displayBib" [style]="{width: '50vw'}">
    <app-bib-format-selector></app-bib-format-selector>
    <br>
    <app-paper [id]="displayPaperOfId"></app-paper>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBib=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>