<p-button (click)="onExpandAllButtonClick(true)" label="Afficher tout" style="margin-right: 5px;"></p-button>
<p-button (click)="onExpandAllButtonClick(false)" label="Masquer tout"></p-button>
<p-organizationChart [value]="data" [preserveSpace]="false" *ngIf="refresher"
    (onNodeExpand)="onNodeExpandButtonClick($event)">
    <ng-template let-node pTemplate="default">
        {{node.label}}
        <br>
        <p-inputSwitch (onChange)="onNodeSwitchStateChange(node, $event)"
            [(ngModel)]="classificationService.getCategory(node.label).visible">
        </p-inputSwitch>
    </ng-template>
</p-organizationChart>