<!-- <app-classification></app-classification> -->

<p-table #dt [columns]="cols" dataKey="id" [value]="papersClassifications" selectionMode="multiple">
    <ng-template pTemplate="caption">
        <h3>Papers classification according to classification approach</h3>
        <div class="p-d-flex">
            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2"
                pTooltip="CSV" tooltipPosition="bottom"></button>
            <!-- <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button> -->
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Paper</th>
            <th>A classifier per device</th>
            <th>One multiclass classifier</th>
            <th>Supervised</th>
            <th>Unsupervised</th>
            <th>DL</th>
            <th>Shallow</th>
            <th>Evaluation metrics</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paperClass let-columns="columns">
        <tr>
            <!--  [pSelectableRow]="paperClass"> -->
            <td (click)="showDialog()">
                {{paperClass.id}}
            </td>
            <td class="p-text-center" *ngFor="let col of columns; let i = index">
                <i *ngIf="paperClass.data[i] == 0 || paperClass.data[i] == 1" class="pi"
                    [ngClass]="{'true-icon pi-check-circle': paperClass.data[i] == 1, 'false-icon pi-times-circle': paperClass.data[i] == 0}"></i>
                <p *ngIf="paperClass.data[i] != 0 && paperClass.data[i] != 1"> {{paperClass.data[i]}}</p>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Papier" [(visible)]="displayBib">
    <app-bib-format-selector></app-bib-format-selector>
    <br>
    <app-paper [id]="'bekerman2015unknown'"></app-paper>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayBib=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>