<div class="p-component">
    <p>To update papers-classification.json file:</p>
    <ul>
        <li>Update papers-classification.tex on the server</li>
        <li>Click on the Parse LaTeX button below to download the corresponding papers-classification.json file</li>
        <li>Replace papers-classification.json file on the server with the previously downloaded file</li>
    </ul>
</div>
<p-button (click)="onParseLatexButtonClick()" label="Parse LaTeX"></p-button>
<div class="p-component">
    <p>To update papers.bib file:</p>
    <ul>
        <li>Update papers.bib on the server</li>
        <li>Click on the Parse BibTeX button below to download the fixed papers.bib file (duplicates removed, missing
            brackets added...)</li>
        <li>Replace papers.bib file on the server with the previously downloaded file</li>
    </ul>
</div>
<p-button (click)="onParseBibtexButtonClick()" label="Parse BibTeX"></p-button>