/* You can add global styles to this file, and also import other style files */

.p-datatable .p-datatable-thead>tr>th {
    text-align: center;
}

.p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
}

.true-icon {
    color: green;
}

.false-icon {
    color: red;
}

.p-organizationchart .p-organizationchart-line-top {
    border-top: 2px solid #e0e0e0;
    border-color: #e0e0e0;
}

.p-organizationchart .p-organizationchart-line-left {
    border-right: 1px solid #e0e0e0;
    border-color: #e0e0e0;
}

.p-organizationchart .p-organizationchart-line-right {
    border-left: 1px solid #e0e0e0;
    border-color: #e0e0e0;
}

.p-organizationchart-line-down {
    background: #e0e0e0 !important;
    width: 2px !important;
}

.p-organizationchart .p-organizationchart-node-content {
    border: 2px solid #e0e0e0;
}

.p-datatable .p-datatable-header {
    border: 0;
}

.p-datatable .p-datatable-thead>tr>th {
    border-width: 1px;
}

.p-datatable .p-datatable-tbody>tr>td {
    border-width: 1px;
}

.p-multiselect {
    min-width: 15rem;
    width: 50rem;
}

.p-inputswitch {
    margin-top: 0.615rem;
    margin-bottom: -0.615rem;
}