<p-panel legend="" [toggleable]="closable">
    <ng-template pTemplate="header">{{uniqueName}} ({{id}})</ng-template>
    <div *ngIf="paper !== undefined">
        <div *ngIf="bibDataFormat === 'SPLNCS03'">
            <span>{{ paper.author }}</span> :
            <span>{{ paper.title }}.</span>
            <span *ngIf="strIsDefined(paper.booktitle)"> In : {{ paper.booktitle }}.</span>
            <span *ngIf="strIsDefined(paper.pages)"> pp. {{ paper.pages }}.</span>
            <span *ngIf="strIsDefined(paper.organization)"> {{ paper.organization }}</span>
            <span *ngIf="strIsDefined(paper.journal)"> {{ paper.journal }}</span>
            <span *ngIf="strIsDefined(paper.volume)"> {{ paper.volume }}</span>
            <span *ngIf="strIsDefined(paper.number)">({{ paper.number }})</span>
            <span *ngIf="strIsDefined(paper.year)"> ({{ paper.year }})</span>
            <br>
        </div>
        <div *ngIf="bibDataFormat === 'APA'">
            APA
        </div>
        <div *ngIf="bibDataFormat === 'MLA'">
            MLA
        </div>
        <br>
        <br>
        Type: <span>{{ paper.type }}</span>
    </div>
    <div *ngIf="paper === undefined" style="color: red;">
        Not found
    </div>
</p-panel>